.in
  .in__main
    = render 'refrigerator'
    .in__main__header
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "in__main__header__logout", data: { confirm: 'ログアウトしますか？' }
        = link_to "追加する", new_put_path , class: "in__main__header__others"
        .in__main__header__daytime
          ※ここに時計が表示されます。
    .in__main__center
      .in__main__center__top
        .in__main__center__top__left
          .in__main__center__top__left__outside
            .in__main__center__top__left__outside__contents
              上の左側
        .in__main__center__top__right
          .in__main__center__top__right__outside
            .in__main__center__top__right__outside__contents
              上の右側
      .in__main__center__container
        .in__main__center__container__left
          .in__main__center__container__left__outside
            .in__main__center__container__left__outside__contents
              真ん中の左側
        .in__main__center__container__right
          .in__main__center__container__right__outside
            .in__main__center__container__right__outside__contents
              真ん中の右側
      .in__main__center__bottom
        .in__main__center__bottom__outside
          .in__main__center__bottom__outside__contents
            下一段目
      .in__main__center__bottom1
        .in__main__center__bottom1__outside
          .in__main__center__bottom1__outside__contents
            下二段目










