.main
  = render 'refrigerator'
  .main__header
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main__header__logout"
      = link_to "追加する", new_put_path , class: "main__header__others"
      .main__header__daytime
        ※ここに時計が表示されます。
  .main__user
    .main__user__add
      = current_user.nickname 
      %span.txtred<>
        さん家の冷蔵庫
  .main__center
    %input#refrigerator{checked: "checked", name: "tab_item", type: "radio"}
    %label.main__center__tab_item{for: "refrigerator"}
      冷蔵庫
    %input#freezer{name: "tab_item", type: "radio"}
    %label.main__center__tab_item{for: "freezer"}
      冷凍庫
    #refrigerator_main.main__center__tab_mains
      .main__center__tab_mains__main
        肉類
        %ul.main__center__tab_mains__main__list
          - @puts_1.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        野菜類
        %ul.main__center__tab_mains__main__list
          - @puts_2.each do |put|
            =render "index", put: put
          
      .main__center__tab_mains__main
        海鮮類
        %ul.main__center__tab_mains__main__list
          - @puts_3.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        飲料水類
        %ul.main__center__tab_mains__main__list
          - @puts_4.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        調味料類
        %ul.main__center__tab_mains__main__list
          - @puts_5.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        惣菜類
        %ul.main__center__tab_mains__main__list
          - @puts_6.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        その他
        %ul.main__center__tab_mains__main__list
          - @puts_7.each do |put|
            =render "index", put: put

    #freezer_box.main__center__tab_mains
      .main__center__tab_mains__main
        冷凍食品類
        %ul.main__center__tab_mains__main__list
          - @puts_8.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        アイス類
        %ul.main__center__tab_mains__main__list
          - @puts_9.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        氷類
        %ul.main__center__tab_mains__main__list
          - @puts_10.each do |put|
            =render "index", put: put

      .main__center__tab_mains__main
        その他
        %ul.main__center__tab_mains__main__list
          - @puts_11.each do |put|
            =render "index", put: put


