.show-main
  .show-main__logo
    = render 'refrigerator'
  .show-main__title
    詳細ページ
  .show-main__container
    .show-main__container__image
      = image_tag "fish.jpg", size: "300x300"
    .show-main__container__data
      .show-main__container__data__category
        これは海鮮類です
      .show-main__container__data__name
        この魚は秋刀魚です
      .show-main__container__data__count
        残り１です
      .show-main__container__data__bestby_date
        2020/2/3までに食べてください
      .show-main__container__data__memo
        日持ち悪い
  .show-main__edit
    = submit_tag '変更する', class: "show-main__edit__submit"
  .show-main__destroy
    = submit_tag '削除する' , class: "show-main__destroy__submit"