.in
  .in__main
    = render 'refrigerator'
    .in__main__header
      = link_to "ログイン", new_user_session_path, class: "in__main__header__login" 
      = link_to "新規登録", new_user_registration_path, class: "in__main__header__new"
    .in__main__user
    .in__main__center
      %input#refrigerator{checked: "checked", name: "tab_item", type: "radio"}
      %label.in__main__center__tab_item{for: "refrigerator"}
        冷蔵庫
      %input#freezer{name: "tab_item", type: "radio"}
      %label.in__main__center__tab_item{for: "freezer"}
        冷凍庫
      #refrigerator_main.in__main__center__tab_mains
        .in__main__center__tab_mains__main
          肉類
        .in__main__center__tab_mains__main
          野菜類
        .in__main__center__tab_mains__main
          海鮮類
        .in__main__center__tab_mains__main
          飲料水類
        .in__main__center__tab_mains__main
          調味料類
        .in__main__center__tab_mains__main
          惣菜類
        .in__main__center__tab_mains__main
          その他
      #freezer_box.in__main__center__tab_mains
        .in__main__center__tab_mains__box
          冷凍食品類
        .in__main__center__tab_mains__box
          アイス類
        .in__main__center__tab_mains__box
          氷類
        .in__main__center__tab_mains__box
          その他


