*{
  box-sizing: border-box;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 24%;
  margin-left: 24%;
  padding: 5px 8px;
  border: solid 1px #33CC33;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #33CC33;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.inbox1 {
  background: image-url("edit.jpeg");
  background-size: cover;
  padding-bottom: 50px;
  &__logo {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  &__exhibitcontent {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
    margin: 0px 24% ;
    border-radius: 30px;
    &__main {
      &__title {
        font-size: 22px;
        padding:32px 16px;
        background-color: #EEEEEE;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 20px;
      }
      &__outside {
        background-color: #DDDDDD;
        border-radius: 30px;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 20px;
        &__first {
          margin: 20px;
          padding: 20px;
          background-color: #EEFFFF;
          border-radius: 30px;
          &__question {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            display:inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
          &__required {
            font-size: 20px;
            font-weight: 600;
            color: #F00;
            display:inline-block;
            vertical-align: middle;
          }
          &__answer {
            padding-top: 20px;
            
          }
        }
        &__second {
          display: flex;
          margin: 20px;
          background-color: #EEFFFF;
          border-radius: 30px;
          text-align: center;
          &__name {
            padding: 40px;
            &__question {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }
            &__required {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              color: #F00;
            }
            &__answer {
              padding-top: 20px;
              
            }
          }
          &__category {
            padding: 40px;
            &__question {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }
            &__required {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              color: #F00;
            }
            &__answer {
              padding-top: 20px;
              &--1 {
                width: 150px;
                height: 40px;
                background-color: #FFFFFF;
                border-radius: 4px;
                border: 1px solid #ccc;
                margin-top: 8px;
                margin-bottom:35px;
                cursor: pointer;
              }
            }
          }
        }
        &__third {
          padding: 40px;
          margin: 20px;
          background-color: #EEFFFF;
          border-radius: 30px;
          &__question {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            display:inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
          &__required {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            display:inline-block;
            vertical-align: middle;
            color: #F00;
          }
          &__answer {
            padding-top: 20px;
            &--1 {
              width: 150px;
              height: 40px;
              background-color: #FFFFFF;
              border-radius: 4px;
              border: 1px solid #ccc;
              margin-top: 8px;
              margin-bottom:35px;
              cursor: pointer;
            }
            &--2 {
              width: 150px;
              height: 40px;
              background-color: #FFFFFF;
              border-radius: 4px;
              border: 1px solid #ccc;
              margin-top: 8px;
              margin-bottom:35px;
              cursor: pointer;
            }
            &--3 {
              width: 150px;
              height: 40px;
              background-color: #FFFFFF;
              border-radius: 4px;
              border: 1px solid #ccc;
              margin-top: 8px;
              margin-bottom:35px;
              cursor: pointer;
            }
          }
        }
        &__forth {
          display: flex;
          margin: 20px;
          background-color: #EEFFFF;
          border-radius: 30px;
          text-align: center;
          &__count {
            padding: 40px;
            &__question {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }
            &__required {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              color: #2E8B57;
            }
            &__answer {
              padding-top: 20px;
              &--1 {
                width: 150px;
                height: 40px;
                background-color: #FFFFFF;
                border-radius: 4px;
                border: 1px solid #ccc;
                margin-top: 8px;
                margin-bottom:35px;
                cursor: pointer;
              }
            }
          }
          &__memo {
            padding: 40px;
            &__question {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }
            &__required {
              font-size: 20px;
              font-weight: 600;
              color: #333333;
              display:inline-block;
              vertical-align: middle;
              color: #2E8B57;
            }
            &__answer {
              padding-top: 20px;
              &--1 {
                width: 150px;
                height: 40px;
                background-color: #FFFFFF;
                border-radius: 4px;
                border: 1px solid #ccc;
                margin-top: 8px;
                margin-bottom:35px;
                cursor: pointer;
              }
            }
          }
        }
        
        &__fifth {
          padding: 40px;
          margin: 20px;
          background-color: #EEFFFF;
          border-radius: 30px;
          &--submit {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            background: #668ad8;
            color: #FFF;
            border-bottom: solid 4px #627295;
            border-radius: 3px;
            margin-right: 20px;
            &:active {
              -webkit-transform: translateY(4px);
              transform: translateY(4px);
              border: none;
            }
          }
          &--back {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            background: #F00;
            color: #FFF;
            border-bottom: solid 4px #CC0000;
            border-radius: 3px;
            &:active {
              -webkit-transform: translateY(4px);
              transform: translateY(4px);
              border: none;
            }
          }
        }
      }
    }
  }
}
