*{
  box-sizing: border-box;
}

.in {
  background: image-url("vegetable.jpeg");
  background-size: cover;
  &__main {
    font-size: 30px;
    padding: 50px 100px 500px 100px;
    &__header {
      display: flex;
      padding: 30px;
      &__logout {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 80px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 3px;
        transition: .4s;
        font-size: 12pt;
        height: 80px;
        &:hover {
          background: black;
          color: white;
        }
      }
      &__others {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 80px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 3px;
        transition: .4s;
        height: 80px;
        font-size: 12pt;
        &:hover {
          background: black;
          color: white;
        }
      }
      &__login {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 3px;
        transition: .4s;
        &:hover {
          background: black;
          color: #fff;
        }
      }
      &__new {
        text-decoration: none;
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        color: black;
        border: 2px solid black;
        border-radius: 3px;
        transition: .4s;
        &:hover {
          background: black;
          color: #fff;
        }
      }
    }
    &__user {
      padding: 50px 0;
      background-color:#EEEEEE;
      border-radius: 60px 60px 0 0;
      font-weight: bold;
      &__add {
        text-align: center;
      }
    }
    &__center {
      margin-top: 50px;
      background-color: #fff;
      margin: 0 auto;
      margin-bottom: 30px;
      &__tab_item {
        width: calc(100%/2);
        height: 74px;
        background-color: #eee;
        line-height: 72px;
        font-size: 30px;
        text-align: center;
        color: #565656;
        display: block;
        float: left;
        text-align: center;
        font-weight: 700;
        transition: all 0.2s ease;
        cursor: pointer;
      }
      &__tab_mains {
        display: none;
        clear: both;
        overflow: hidden;
        cursor: pointer;
        &__main {
          border-bottom: 1px solid #eee;
          position: relative;
          &__list{
            display: flex;
            flex-wrap: wrap;
            &__data {
              margin: 10px;
              &:hover {
                opacity: 0.5;
              }
              &__link {
                text-decoration: none;
                &__image {
                  color: black;
                }
              }
            }
          }
        }
        
  
  
      }
      input[name="tab_item"] {
        display: none;
      }
    }
    #refrigerator:checked ~ #refrigerator_main,
    #freezer:checked ~ #freezer_box{
      display: block;
    }
    .in__main__center input:checked + .in__main__center__tab_item {
      background-color: #fff;
      border-top: 2px solid #2C7CFF;
      height: 72px;
      line-height: 72px;
    }
  }
  
}
