*{
  box-sizing: border-box;
}

.exhibitcontent {
  background-color: gray;
  text-align: center;
  &__main {
    &__title {
      font-size: 22px;
      border-bottom:solid 1px #EEEEEE;
      padding:32px 16px;
      background-color: red;
    }
    &__first {
      padding: 40px;
      &__question {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__required {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__answer {
        padding-top: 20px;
        
      }
    }
    &__second {
      padding: 40px;
      &__question {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__required {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__answer {
        padding-top: 20px;
        
      }
    }
    &__third {
      padding: 40px;
      &__question {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__required {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__answer {
        padding-top: 20px;
        
      }
    }
    &__forth {
      padding: 40px;
      &__question {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__required {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__answer {
        padding-top: 20px;
        
      }
    }
    &__fifth {
      padding: 40px;
      &__question {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__required {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        display:inline-block;
        vertical-align: middle;
        font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
      }
      &__answer {
        padding-top: 20px;
        
      }
    }
    &__ninth {
      padding: 40px;
      &--submit{
        
      }
      &--back{
        
      }
    }
  }
}