*{
  box-sizing: border-box;
}

.in3 {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  background: image-url("freezer.jpeg");
  background-size: cover;
  &__main {
    font-size: 30px;
    padding: 50px 50px 500px 50px;
    &__header {
      display: flex;
      padding: 30px;
      &__new {
        position: fixed;
        width: 110px;
        height: 110px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
        text-align: center;
        z-index: 100;
        padding: 5px;
        background: #BB0000;
        &__others {
          font-size: 20px;
          text-decoration: none;
          color: white;
        }
        &:hover {
          background: #FFD700	;
          color: black;
        }
      }
      &__daytime{
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        top: 0;
        border-radius: 0 0 0 20px;
        background: #BB0000;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        &__icon {
          font-size: 20px;
        }
      }
    }
    &__center {
      margin-top: 50px;
      margin: 0 auto;
      &__main {
        position: relative;
        padding: 20px;
        text-align: center;
        &__title {
          font-size: 30px;
          padding:32px 16px;
          background-color: #EEEEEE;
          text-align: center;
          border-radius: 30px;
          margin-bottom: 20px;
        }
        &__list{
          display: flex;
          background-color: #EEFFFF;
          border-radius: 30px;
          flex-wrap: wrap;
          height: 100%;
          &__data {
            border: solid black;
            background-color: white;
            padding: 10px;
            text-align: center;
            margin: 15px;
            &:hover {
              opacity: 0.5;
              background-color: yellow;
            }
            &__link {
              text-decoration: none;
              &__image {
                border-radius: 30px;
                &__name {
                  text-align: center;
                  color: black;
                  font-size: 20px;
                }
                &__bestby_date {
                  color: black;
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}

