*{
  box-sizing: border-box;
}

.in3 {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  &__main {
    font-size: 30px;
    background: image-url("freezer.jpeg");
    background-size: cover;
    padding: 50px 50px 100% 50px ;
    &__header {
      display: flex;
      padding: 30px;
      &__new {
        position: fixed;
        width: 110px;
        height: 110px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
        text-align: center;
        z-index: 100;
        padding: 5px;
        background: #BB0000;
        &__others {
          font-size: 20px;
          text-decoration: none;
          color: white;
        }
        &:hover {
          background: #FFD700	;
          color: black;
        }
      }
      &__daytime{
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        top: 0;
        border-radius: 0 0 0 20px;
        background: #BB0000;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        &__icon {
          font-size: 20px;
        }
      }
      &__name {
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        top: 10;
        border-radius: 20px 0 0 20px;
        background: green	;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        padding-top: 25px;
      }
      &__back-to-top {
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        bottom: 0;
        border-radius: 20px 0 0 0;
        background:	#FF4F02;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        padding-top: 35px;
        display: none;
        text-decoration: none;
        &:hover {
          background: #FFD700	;
          color: black;
        }
      }
    }
    &__center {
      margin-top: 50px;
      margin: 0 auto;
      &__main {
        position: relative;
        padding: 20px;
        text-align: center;
        &__title {
          font-size: 30px;
          padding:32px 16px;
          background-color: #EEEEEE;
          text-align: center;
          border-radius: 30px;
          margin-bottom: 20px;
        }
        &__list{
          display: flex;
          background-color: #EEFFFF;
          border-radius: 30px;
          flex-wrap: wrap;
          height: 100%;
          padding: 5px 35px;
          &__data {
            border: solid black;
            background-color: white;
            padding: 10px;
            text-align: center;
            margin: 10px;
            &:hover {
              opacity: 0.5;
              background-color: yellow;
            }
            &__delete {
              position: relative;
              &__btn {
                position: absolute;
                right: 0;
                top: 0;
                margin: -10px -5px 0 0;
                color: #BBBBBB;
                background-color: white;
                padding: 5px;
                border-radius: 20px;
                &:hover {
                  opacity: 100;
                  color: #DD0000;
                  background-color: black;
                }
              }
            }
            &__link {
              text-decoration: none;
              &__image {
                border-radius: 30px;
                &__name {
                  text-align: center;
                  color: black;
                  font-size: 20px;
                }
                &__bestby_date {
                  color: black;
                  font-size: 17px;
                  width: 137px;
                }
              }
            }
          }
        }
      }
    }
  }
}

