// 新規登録画面のcss
*{
  box-sizing: border-box;
}

.registrations {
  &__title {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
  }
  &__main {
    &__field {
      padding: 10px;
      text-align: center;
    }
    &__actions {
      text-align: center;
      padding: 10px;
    }
  }
}