*{
  box-sizing: border-box;
}

.in1 {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  &__main {
    font-size: 30px;
    padding: 50px 50px 100% 50px;
    background: image-url("search.jpeg");
    background-size: cover;
    &__header {
      display: flex;
      padding: 30px;
      .search-btn {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #fd9535;/*背景色*/
        border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;
        &:active {
          border-bottom: solid 2px #fd9535;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
        }
        &:focus {
          outline: none;
        }
      }
      &__new {
        position: fixed;
        width: 110px;
        height: 110px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
        text-align: center;
        z-index: 100;
        padding: 5px;
        background: #BB0000;
        &__others {
          font-size: 20px;
          text-decoration: none;
          color: white;
        }
        &:hover {
          background: #FFD700	;
          color: black;
        }
      }
      &__daytime{
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        top: 0;
        border-radius: 0 0 0 20px;
        background: #BB0000;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        &__icon {
          font-size: 20px;
        }
      }
      &__name {
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        top: 10;
        border-radius: 20px 0 0 20px;
        background: green	;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        padding-top: 25px;
      }
      &__back-to-top {
        position: fixed;
        width: 110px;
        height: 110px;
        right: 0;
        bottom: 0;
        border-radius: 20px 0 0 0;
        background:	#FF4F02;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        padding-top: 35px;
        display: none;
        text-decoration: none;
        &:hover {
          background: #FFD700	;
          color: black;
        }
      }
    }
    &__center {
      margin-top: 50px;
      margin: 0 auto;
      &__search {
        background-color: #DDDDDD;
        position: relative;
        padding: 20px;
        border-radius: 30px;
        &__main {
          display: flex;
          flex-wrap: wrap;
          background-color: #EEFFFF;
          border-radius: 30px;
          height: 100%;
          padding: 5px 35px;
          &__data {
            border: solid black;
            background-color: white;
            padding: 10px;
            text-align: center;
            margin: 10px;
            &:hover {
              opacity: 0.5;
              background-color: yellow;
            }
            &__link {
              text-decoration: none;
              &__image {
                border-radius: 30px;
                &__name {
                  text-align: center;
                  color: black;
                  font-size: 20px;
                }
                &__bestby_date {
                  color: black;
                  font-size: 17px;
                  width: 137px;
                }
              }
            }
          }
        }
      }
    }
  }
}

