*{
  box-sizing: border-box;
}

.in {
  background: image-url("vegetable.jpeg");
  background-size: cover;
  &__main {
    font-size: 30px;
    padding: 50px 50px 500px 50px;
    &__header {
      display: flex;
      padding: 30px;
      &__logout {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 80px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #005500	;
        border: 2px solid #005500	;
        border-radius: 3px;
        transition: .4s;
        font-size: 12pt;
        height: 80px;
        &:hover {
          background: #005500	;
          color: black;
        }
      }
      &__new {
        position: fixed;
        width: 100px;
        height: 100px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
        background: green;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        &__others {
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          font-size: 20px;
          text-decoration: none;
          color: white;
        }
      }
      &__login {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 80px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #005500	;
        border: 2px solid #005500	;
        border-radius: 3px;
        transition: .4s;
        font-size: 12pt;
        height: 80px;
        &:hover {
          background: #005500	;
          color: white;
        }
      }
      &__new {
        text-decoration: none;
        margin-right: 10px;
        display: block;
        width: 80px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #005500	;
        border: 2px solid #005500	;
        border-radius: 3px;
        transition: .4s;
        font-size: 12pt;
        height: 80px;
        &:hover {
          background: #005500	;
          color: white;
        }
      }
      &__daytime{
        position: fixed;
        width: 100px;
        height: 100px;
        right: 0;
        top: 0;
        border-radius: 0 0 0 20px;
        background: green;
        color: #ffffff;
        text-align: center;
        z-index: 100;
        padding: 5px;
        &__icon {
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          font-size: 20px;
        }
      }
    }
    &__center {
      margin-top: 50px;
      margin: 0 auto;
      &__search {
        background-color: #DDDDDD;
        position: relative;
        padding: 20px;
        border-radius: 30px;
        &__main {
          display: flex;
          flex-wrap: wrap;
          background-color: #EEFFFF;
          border-radius: 30px;
          &__data {
            border: solid black;
            background-color: white;
            padding: 10px;
            text-align: center;
            margin: 30px;
            &:hover {
              opacity: 0.5;
            }
            &__link {
              text-decoration: none;
              &__image {
                border-radius: 30px;
                &__name {
                  text-align: center;
                  color: black;
                  font-size: 20px;
                }
                &__bestby_date {
                  color: black;
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}

