.show-main {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  background: image-url("show.jpeg");
  background-size: cover;
  height: 100%;
  padding-bottom: 500px;
  &__logo {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  &__title {
    font-size: 50px;
    text-align: center;
    margin: 0px 24%;
    background-color: #EEEEEE;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  &__container {
    border-radius: 30px;
    margin: 0px 24%;
    background-color: #EEEEEE;
    padding: 20px;
    font-size: 20px;
    &__outside {
      display: flex;
      background-color: #fff;
      border-radius: 30px;
      margin-bottom: 20px;
      &__image {
        padding: 20px;
        &__size {
          border-radius: 30px;
        }
      }
      &__data {
        padding: 20px;
        &__category {
          display: flex;
          &--content{
            font-size: 25px;
            margin-left: 20px;
          }
        }
        &__name {
          display: flex;
          &--content{
            font-size: 25px;
            margin-left: 20px;
          }
        }
        &__count {
          display: flex;
          &--content{
            font-size: 25px;
            margin-left: 20px;
          }
        }
        &__bestby_date {
          &--content{
            font-size: 25px;
            color: #F00;
          }
        }
        &__memo {
          &--content{
            font-size: 25px;
          }
        }
      }
    }
    &__btn {
      background-color: #fff;
      border-radius: 30px;
      padding: 40px;
      text-align: center;
      &__edit {
        margin-bottom: 20px;
        &__submit {
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          background: #FFD700	;
          color: black;
          border-bottom: solid 4px #DAA520	;
          border-radius: 3px;
          &:active {
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            border: none;
          }
        }
      }
      &__destroy {
        &__submit {
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          background: #32CD32;
          color: #FFF;
          border-bottom: solid 4px #006400;
          border-radius: 3px;
          &:active {
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            border: none;
          }
        }
        
      }
    }
  }
}