.show-main {
  background: image-url("show.jpeg");
  background-size: cover;
  height: 100%;
  padding-bottom: 500px;
  &__logo {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  &__title {
    font-size: 50px;
    text-align: center;
    margin: 0px 24%;
    background-color: #DDDDDD;
    border-radius: 20px 20px 0 0;
    font-weight: 500;
  }
  &__container {
    margin: 0px 24%;
    background-color: #fff	;
    display: flex;
    padding: 20px;
    font-size: 20px;
    &__image {
      padding: 20px;
    }
    &__data {
      margin: 20px;
      width: 50%;
      padding: 20px;
      &__category {
        margin: 10px;
        display: flex;
        &--content{
          font-size: 25px;
          margin-left: 50px;
        }
      }
      &__name {
        margin: 10px;
        display: flex;
        &--content{
          font-size: 25px;
          margin-left: 50px;
        }
      }
      &__count {
        margin: 10px;
        display: flex;
        &--content{
          font-size: 25px;
          margin-left: 50px;
        }
      }
      &__bestby_date {
        margin: 10px;
        &--content{
          font-size: 25px;
        }
      }
      &__memo {
        margin: 10px;
        &--content{
          font-size: 25px;
        }
      }
    }
  }
  &__edit {
    padding: 30px 30px 0 30px;
    text-align: center;
    margin: 0px 24%;
    background-color: #fff;
    &__submit {
      width: 100%;
      display: block;
      line-height: 48px;
      background-color: yellow;
      font-size: 14px;
      font-weight: 400;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: black;
      text-align: center;
      border: 1px solid yellow;  
      cursor: pointer;  
      text-decoration: none;
      }
  }
  &__destroy {
    text-align: center;
    padding: 20px 30px 30px 30px;
    margin: 0px 24%;
    background-color: #fff;
    &__submit {
      width: 100%;
      display: block;
      line-height: 48px;
      background-color:red;
      font-size: 14px;
      font-weight: 400;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: white;
      text-align: center;
      border: 1px solid red;  
      cursor: pointer;  
      text-decoration: none;
    }
    border-radius: 0 0 20px 20px;
  }
}